

.wrapper
    {  
       margin: 50%;
        width:40%;
        padding: 50px;
        margin:0 auto;
        border: 20px solid rgb(168, 40, 162);
    }



.first_name, .surname
    { width: 24%;}
 .password, .email, .dateofbirth

        {
            width: 50%;
            
        }