body {background-color: cornsilk;;}

h1 {  border: 2px solid red;}

.welcome { 
    background-color: wheat;
    text-align: center;
    font-size: 50px;}
    
.menu  {
    background-color: wheat;
    text-align: center;
    font-size: 50px;
   
}

